[submodule "permit2batchExecutor/lib/forge-std"]
	path = permit2batchExecutor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "permit2batchExecutor/lib/permit2"]
	path = permit2batchExecutor/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "permit2batchExecutor/lib/openzeppelin-contracts"]
	path = permit2batchExecutor/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
